In [1]:
#importing the library for TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
#import the libraries for SVD
from sklearn.decomposition import TruncatedSVD
import numpy as np
#import library for cosine similarity
import pandas as pd
import numpy as np

In [80]:
docs = ["long ago when there was no written history these islands were the home of millions of happy birds the resort of a hundred times more millions of fishes sea lions and other creatures"
        ,
        "in ages which have no record these islands were the home of millions of happy birds the resort of a hundred times more millions of pisces of sea lions and other animal"
       ]
doc1 = "long ago when there was no written history these islands were the home of millions of happy birds the resort of a hundred times more millions of fishes sea lions and other creatures"
doc2 = "in ages which have no record these islands were the home of millions of happy birds the resort of a hundred times more millions of pisces of sea lions and other animal"

In [4]:
vectorizer = TfidfVectorizer()
dictionary = vectorizer.fit_transform(docs)
print(vectorizer.get_feature_names())
print(dictionary.todense())

['ages', 'ago', 'and', 'animal', 'birds', 'creatures', 'fishes', 'happy', 'have', 'history', 'home', 'hundred', 'in', 'islands', 'lions', 'long', 'millions', 'more', 'no', 'of', 'other', 'pisces', 'record', 'resort', 'sea', 'the', 'there', 'these', 'times', 'was', 'were', 'when', 'which', 'written']
[[0.         0.186522   0.13271194 0.         0.13271194 0.186522
  0.186522   0.13271194 0.         0.186522   0.13271194 0.13271194
  0.         0.13271194 0.13271194 0.186522   0.26542388 0.13271194
  0.13271194 0.53084776 0.13271194 0.         0.         0.13271194
  0.13271194 0.26542388 0.186522   0.13271194 0.13271194 0.186522
  0.13271194 0.186522   0.         0.186522  ]
 [0.17874333 0.         0.12717735 0.17874333 0.12717735 0.
  0.         0.12717735 0.17874333 0.         0.12717735 0.12717735
  0.17874333 0.12717735 0.12717735 0.         0.2543547  0.12717735
  0.12717735 0.63588675 0.12717735 0.17874333 0.17874333 0.12717735
  0.12717735 0.2543547  0.         0.12717735 0.12717735 0.
  0.12717735 0.         0.17874333 0.        ]]

In [5]:
inarr = dictionary.todense().tolist()
print(inarr)
print(type(inarr))

[[0.0, 0.18652199981505496, 0.13271193908621762, 0.0, 0.13271193908621762, 0.18652199981505496, 0.18652199981505496, 0.13271193908621762, 0.0, 0.18652199981505496, 0.13271193908621762, 0.13271193908621762, 0.0, 0.13271193908621762, 0.13271193908621762, 0.18652199981505496, 0.26542387817243523, 0.13271193908621762, 0.13271193908621762, 0.5308477563448705, 0.13271193908621762, 0.0, 0.0, 0.13271193908621762, 0.13271193908621762, 0.26542387817243523, 0.18652199981505496, 0.13271193908621762, 0.13271193908621762, 0.18652199981505496, 0.13271193908621762, 0.18652199981505496, 0.0, 0.18652199981505496], [0.17874332778851904, 0.0, 0.12717734987325133, 0.17874332778851904, 0.12717734987325133, 0.0, 0.0, 0.12717734987325133, 0.17874332778851904, 0.0, 0.12717734987325133, 0.12717734987325133, 0.17874332778851904, 0.12717734987325133, 0.12717734987325133, 0.0, 0.25435469974650265, 0.12717734987325133, 0.12717734987325133, 0.6358867493662567, 0.12717734987325133, 0.17874332778851904, 0.17874332778851904, 0.12717734987325133, 0.12717734987325133, 0.25435469974650265, 0.0, 0.12717734987325133, 0.12717734987325133, 0.0, 0.12717734987325133, 0.0, 0.17874332778851904, 0.0]]
<class 'list'>

In [6]:
# Create a TruncatedSVD object with 2 components
svd = TruncatedSVD(n_components=2)

# Fit the object to the matrix X
svd.fit(inarr)

TruncatedSVD()

In [7]:
U = svd.components_
print("U:",U)
UT = U.T
print("UT:",UT)
Sigma = svd.singular_values_
print("Sigma:",Sigma)
V = svd.transform(inarr)
print("V:",V)
# Print the matrices shape
print("")
print("shape of the matrices")
print("U:",U.shape)
print("Sigma:",Sigma.shape)
print("V:",V.shape)

U: [[ 0.0962112   0.10039819  0.1398892   0.0962112   0.1398892   0.10039819
   0.10039819  0.1398892   0.0962112   0.10039819  0.1398892   0.1398892
   0.0962112   0.1398892   0.1398892   0.10039819  0.27977841  0.1398892
   0.1398892   0.62801188  0.1398892   0.0962112   0.0962112   0.1398892
   0.1398892   0.27977841  0.10039819  0.1398892   0.1398892   0.10039819
   0.1398892   0.10039819  0.0962112   0.10039819]
 [-0.24134765  0.25185078  0.00747306 -0.24134765  0.00747306  0.25185078
   0.25185078  0.00747306 -0.24134765  0.25185078  0.00747306  0.00747306
  -0.24134765  0.00747306  0.00747306  0.25185078  0.01494613  0.00747306
   0.00747306 -0.14182859  0.00747306 -0.24134765 -0.24134765  0.00747306
   0.00747306  0.01494613  0.25185078  0.00747306  0.00747306  0.25185078
   0.00747306  0.25185078 -0.24134765  0.25185078]]
UT: [[ 0.0962112  -0.24134765]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.27977841  0.01494613]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.62801188 -0.14182859]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.0962112  -0.24134765]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.27977841  0.01494613]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.0962112  -0.24134765]
 [ 0.10039819  0.25185078]]
Sigma: [1.31367879 0.52368696]
V: [[ 0.92891118  0.3703026 ]
 [ 0.92891118 -0.3703026 ]]

shape of the matrices
U: (2, 34)
Sigma: (2,)
V: (2, 2)

In [11]:
word_list = vectorizer.get_feature_names()
print(type(word_list))
print(word_list)
print(UT)
print(type(UT))

<class 'list'>
['ages', 'ago', 'and', 'animal', 'birds', 'creatures', 'fishes', 'happy', 'have', 'history', 'home', 'hundred', 'in', 'islands', 'lions', 'long', 'millions', 'more', 'no', 'of', 'other', 'pisces', 'record', 'resort', 'sea', 'the', 'there', 'these', 'times', 'was', 'were', 'when', 'which', 'written']
[[ 0.0962112  -0.24134765]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.27977841  0.01494613]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.62801188 -0.14182859]
 [ 0.1398892   0.00747306]
 [ 0.0962112  -0.24134765]
 [ 0.0962112  -0.24134765]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.27977841  0.01494613]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.1398892   0.00747306]
 [ 0.10039819  0.25185078]
 [ 0.0962112  -0.24134765]
 [ 0.10039819  0.25185078]]
<class 'numpy.ndarray'>

In [65]:
print(U)
print(word_list)

[[ 0.0962112   0.10039819  0.1398892   0.0962112   0.1398892   0.10039819
   0.10039819  0.1398892   0.0962112   0.10039819  0.1398892   0.1398892
   0.0962112   0.1398892   0.1398892   0.10039819  0.27977841  0.1398892
   0.1398892   0.62801188  0.1398892   0.0962112   0.0962112   0.1398892
   0.1398892   0.27977841  0.10039819  0.1398892   0.1398892   0.10039819
   0.1398892   0.10039819  0.0962112   0.10039819]
 [-0.24134765  0.25185078  0.00747306 -0.24134765  0.00747306  0.25185078
   0.25185078  0.00747306 -0.24134765  0.25185078  0.00747306  0.00747306
  -0.24134765  0.00747306  0.00747306  0.25185078  0.01494613  0.00747306
   0.00747306 -0.14182859  0.00747306 -0.24134765 -0.24134765  0.00747306
   0.00747306  0.01494613  0.25185078  0.00747306  0.00747306  0.25185078
   0.00747306  0.25185078 -0.24134765  0.25185078]]
['ages', 'ago', 'and', 'animal', 'birds', 'creatures', 'fishes', 'happy', 'have', 'history', 'home', 'hundred', 'in', 'islands', 'lions', 'long', 'millions', 'more', 'no', 'of', 'other', 'pisces', 'record', 'resort', 'sea', 'the', 'there', 'these', 'times', 'was', 'were', 'when', 'which', 'written']

In [46]:
encoded_matrix1= pd.DataFrame(
                U,
                columns=word_list,
                index = ["t1","t2"]
                )
print(encoded_matrix1)

        ages       ago       and    animal     birds  creatures    fishes  \
t1  0.096211  0.100398  0.139889  0.096211  0.139889   0.100398  0.100398
t2 -0.241348  0.251851  0.007473 -0.241348  0.007473   0.251851  0.251851

       happy      have   history  ...       sea       the     there     these  \
t1  0.139889  0.096211  0.100398  ...  0.139889  0.279778  0.100398  0.139889
t2  0.007473 -0.241348  0.251851  ...  0.007473  0.014946  0.251851  0.007473

       times       was      were      when     which   written
t1  0.139889  0.100398  0.139889  0.100398  0.096211  0.100398
t2  0.007473  0.251851  0.007473  0.251851 -0.241348  0.251851

[2 rows x 34 columns]

In [85]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

['long', 'ago', 'when', 'there', 'was', 'no', 'written', 'history', 'these', 'islands', 'were', 'the', 'home', 'of', 'millions', 'of', 'happy', 'birds', 'the', 'resort', 'of', 'a', 'hundred', 'times', 'more', 'millions', 'of', 'fishes', 'sea', 'lions', 'and', 'other', 'creatures']

In [107]:
sus0 = word_tokenize(docs[0])
sus1 = word_tokenize(docs[1])
d0=set(sus0)
print(d0)
d1=set(sus1)
print(d1)
w= set(word_list)
print(w)
c0 = d0.intersection(w)
print(c0)
cc0 = list(c0)
c1 = d1.intersection(w)
print(c1)
cc1= list(c1)

c=c0.intersection(c1)
cc = list(c)

{'were', 'lions', 'more', 'and', 'the', 'ago', 'resort', 'history', 'long', 'islands', 'when', 'no', 'creatures', 'millions', 'happy', 'of', 'other', 'there', 'times', 'home', 'was', 'birds', 'fishes', 'these', 'sea', 'hundred', 'a', 'written'}
{'were', 'lions', 'ages', 'more', 'animal', 'and', 'the', 'resort', 'pisces', 'record', 'which', 'islands', 'have', 'no', 'millions', 'happy', 'of', 'other', 'home', 'birds', 'these', 'in', 'sea', 'hundred', 'a', 'times'}
{'were', 'lions', 'ages', 'more', 'animal', 'and', 'the', 'ago', 'resort', 'pisces', 'history', 'long', 'record', 'which', 'islands', 'have', 'no', 'when', 'millions', 'happy', 'written', 'of', 'other', 'there', 'home', 'was', 'fishes', 'birds', 'these', 'in', 'sea', 'hundred', 'creatures', 'times'}
{'were', 'lions', 'more', 'and', 'the', 'ago', 'resort', 'history', 'long', 'islands', 'when', 'no', 'millions', 'happy', 'written', 'of', 'other', 'there', 'home', 'was', 'birds', 'fishes', 'these', 'sea', 'hundred', 'creatures', 'times'}
{'were', 'lions', 'ages', 'more', 'animal', 'and', 'the', 'resort', 'pisces', 'record', 'which', 'islands', 'have', 'no', 'millions', 'happy', 'of', 'other', 'home', 'birds', 'these', 'in', 'sea', 'hundred', 'times'}

In [73]:
em= pd.DataFrame(
                UT,
                columns= ["t1","t2"],
                index =word_list
                )
print(em)

                 t1        t2
ages       0.096211 -0.241348
ago        0.100398  0.251851
and        0.139889  0.007473
animal     0.096211 -0.241348
birds      0.139889  0.007473
creatures  0.100398  0.251851
fishes     0.100398  0.251851
happy      0.139889  0.007473
have       0.096211 -0.241348
history    0.100398  0.251851
home       0.139889  0.007473
hundred    0.139889  0.007473
in         0.096211 -0.241348
islands    0.139889  0.007473
lions      0.139889  0.007473
long       0.100398  0.251851
millions   0.279778  0.014946
more       0.139889  0.007473
no         0.139889  0.007473
of         0.628012 -0.141829
other      0.139889  0.007473
pisces     0.096211 -0.241348
record     0.096211 -0.241348
resort     0.139889  0.007473
sea        0.139889  0.007473
the        0.279778  0.014946
there      0.100398  0.251851
these      0.139889  0.007473
times      0.139889  0.007473
was        0.100398  0.251851
were       0.139889  0.007473
when       0.100398  0.251851
which      0.096211 -0.241348
written    0.100398  0.251851

In [92]:
print(cc0)

['were', 'lions', 'more', 'and', 'the', 'ago', 'resort', 'history', 'long', 'islands', 'when', 'no', 'millions', 'happy', 'written', 'of', 'other', 'there', 'home', 'was', 'birds', 'fishes', 'these', 'sea', 'hundred', 'creatures', 'times']

In [108]:
v0 = em.loc[cc]
print(v0)

                t1        t2
resort    0.139889  0.007473
were      0.139889  0.007473
lions     0.139889  0.007473
of        0.628012 -0.141829
more      0.139889  0.007473
other     0.139889  0.007473
sea       0.139889  0.007473
islands   0.139889  0.007473
home      0.139889  0.007473
millions  0.279778  0.014946
and       0.139889  0.007473
no        0.139889  0.007473
hundred   0.139889  0.007473
birds     0.139889  0.007473
the       0.279778  0.014946
happy     0.139889  0.007473
times     0.139889  0.007473
these     0.139889  0.007473

In [109]:
v1 = em.loc[cc]
print(v1)

                t1        t2
resort    0.139889  0.007473
were      0.139889  0.007473
lions     0.139889  0.007473
of        0.628012 -0.141829
more      0.139889  0.007473
other     0.139889  0.007473
sea       0.139889  0.007473
islands   0.139889  0.007473
home      0.139889  0.007473
millions  0.279778  0.014946
and       0.139889  0.007473
no        0.139889  0.007473
hundred   0.139889  0.007473
birds     0.139889  0.007473
the       0.279778  0.014946
happy     0.139889  0.007473
times     0.139889  0.007473
these     0.139889  0.007473

In [110]:
array0 = v0['t1'].T
print(array0)
print("\n\n")
array1 = v0['t2'].T
print(array1)
type(v1)

resort      0.139889
were        0.139889
lions       0.139889
of          0.628012
more        0.139889
other       0.139889
sea         0.139889
islands     0.139889
home        0.139889
millions    0.279778
and         0.139889
no          0.139889
hundred     0.139889
birds       0.139889
the         0.279778
happy       0.139889
times       0.139889
these       0.139889
Name: t1, dtype: float64



resort      0.007473
were        0.007473
lions       0.007473
of         -0.141829
more        0.007473
other       0.007473
sea         0.007473
islands     0.007473
home        0.007473
millions    0.014946
and         0.007473
no          0.007473
hundred     0.007473
birds       0.007473
the         0.014946
happy       0.007473
times       0.007473
these       0.007473
Name: t2, dtype: float64

pandas.core.frame.DataFrame

In [111]:
## calculation for the similarity
numerator=np.dot(array0,array1)

denom=np.sqrt(sum(np.square(array0)))*np.sqrt(sum(np.square(array1)))

# Similarity:
round(numerator/denom,3)

-0.484