In [1]:
#importing the library for TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
#import the libraries for SVD
from sklearn.decomposition import TruncatedSVD
import numpy as np
#import library for cosine similarity
import pandas as pd
import numpy as np

In [52]:
body1 = ["A person on a horse jumps over a broken down airplane."]
body2 = ["A person is at a diner, ordering an omelette."]

In [53]:
vectorizer1 = TfidfVectorizer()
vectorizer2 = TfidfVectorizer()
bag1 = vectorizer1.fit_transform(body1)
bag2 = vectorizer2.fit_transform(body2)

In [54]:
svd1 = TruncatedSVD(n_components=1)
svd2 = TruncatedSVD(n_components=1)
lsa1 = svd1.fit_transform(bag1)
lsa2 = svd2.fit_transform(bag2)
topic_df1 = pd.DataFrame(lsa1,columns = ["t1"])
print(topic_df1.head())
topic_df2 = pd.DataFrame(lsa2,columns = ["t1"])
print(topic_df2.head())

    t1
0  1.0
    t1
0  1.0

C:\Users\dell\anaconda3\lib\site-packages\sklearn\decomposition\_truncated_svd.py:205: RuntimeWarning: invalid value encountered in true_divide
  self.explained_variance_ratio_ = exp_var / full_var

In [55]:
dictionary1 =vectorizer1.get_feature_names()
dictionary2 =vectorizer2.get_feature_names()

In [56]:
encoded_matrix1= pd.DataFrame(
                svd1.components_,
                columns=dictionary1,
                index = ["t1"]
                )
encoded_matrix1

,airplane,broken,down,horse,jumps,on,over,person
t1,0.353553,0.353553,0.353553,0.353553,0.353553,0.353553,0.353553,0.353553

In [57]:
encoded_matrix2= pd.DataFrame(
                svd2.components_,
                columns=dictionary2,
                index = ["t1"]
                )
encoded_matrix2

          an        at     diner        is  omelette  ordering    person
t1  0.377964  0.377964  0.377964  0.377964  0.377964  0.377964  0.377964

In [12]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [58]:
print(vectorizer1.get_feature_names())
print(vectorizer2.get_feature_names())

['airplane', 'broken', 'down', 'horse', 'jumps', 'on', 'over', 'person']
['an', 'at', 'diner', 'is', 'omelette', 'ordering', 'person']

In [59]:
d1=set(vectorizer1.get_feature_names())
print(d1)
d2=set(vectorizer2.get_feature_names())
print(d2)

c=d1.intersection(d2)
cc = list(c)
print(cc)

{'horse', 'on', 'down', 'airplane', 'broken', 'jumps', 'person', 'over'}
{'diner', 'an', 'omelette', 'person', 'is', 'ordering', 'at'}
['person']

In [60]:
#v1 = em.loc[cc]
#print(v1)
v1 = encoded_matrix1.T.loc[cc]
print(array1)

v2 = encoded_matrix2.T.loc[cc]
print(array2)

the     0.288675
were    0.144338
Name: t1, dtype: float64
the     0.609994
were    0.152499
Name: t1, dtype: float64

In [61]:
array1 = v1['t1'].T
print(array1)
print("\n\n")
array2 = v2['t1'].T
print(array2)
type(v1)

person    0.353553
Name: t1, dtype: float64



person    0.377964
Name: t1, dtype: float64

pandas.core.frame.DataFrame

In [62]:
## calculation for the similarity
numerator=np.dot(array1,array2)

denom=np.sqrt(sum(np.square(array1)))*np.sqrt(sum(np.square(array2)))

# Similarity:
round(numerator/denom,3)

1.0