In [2]:
import os
import glob
import numpy as np
import pandas as pd
import chardet

In [28]:
text_list = []

In [29]:
text_list1 =[]

In [48]:

folder_path = "C:\Ankit Project\Dataset\Dataset"

# List to store the text from each file

text_list1 =[]
# Find all the text files in the directory
file_list = glob.glob(os.path.join(folder_path, "*.txt"))

for file_path in file_list:
    # Open the file in binary mode and read the first 10000 bytes
    with open(file_path, "rb") as f:
        file_content = f.read(10000)
    

    # Use chardet to detect the encoding of the file content
    result = chardet.detect(file_content)
    encodings = result["encoding"]
    f.close()
    if(encodings == "utf-8" or encodings == "UTF-8-SIG"):
        with open (file_path,'r',encoding = "utf-8-sig") as f:
            paragraph = f.read()
            text = paragraph.replace('\n',' ').strip()
            text_list1.append(text)

#     # Print the detected encoding and confidence level
#     print("File: ", file_path)
#     print("Detected encoding:", result["encoding"])
#     print("Confidence:", result["confidence"]) text.replace(u'\ufeff',u'\xa0', '',u' ')

# # Loop over each file path
# for file_path in file_list:
#     # Open the file and read its contents
#     with open(file_path, "r",encoding="utf-8") as f:
#         file_contents = f.read()
#         # Extract the text from the file
#         # Add the text to the list
#         text_list.append(file_contents)
# print(text_list)
# # text_list1 = []
# # # Print the extracted text
# # for item in text_list:
# #     if item.startswith("/") or item.startswith(""):
# #         text_list.remove(item)
    
# # print(text_list)

In [ ]:
ध्यान पुर्\u200dयाउनुपर्ने थियो \xa0

In [49]:
print(len(text_list1))
# print(text_list1)

50

In [50]:
data = np.array(text_list1)

In [8]:
df = pd.DataFrame(data,columns = ['column 1'])
df

                                              column 1
0    ﻿ नविन अर्याल ९ मंसिर, काठमाडौं । विद्युतीय सव...
1    ﻿२२ पुस, काठमाडौं । यातायात व्यवस्था विभागले न...
2    काभ्रेपलाञ्चोकमा कृषकले एसआरआई प्रविधिमा गरेको...
3    राजधानीमा यतिबेला तरकारीको मूल्य आकासिएको छ। क...
4    ﻿ भारतीय अटो कम्पनी महिन्द्रा एण्ड महिन्द्राले...
..                                                 ...
96   ﻿ ११ पुस, काठमाडौं । एम भी दुगड ग्रुपको विवेक ...
97   ﻿ १४ पुस, काठमाडौं । नयाँ जमानाको स्पोर्टी ह्य...
98   जिल्ला पशुसेवा कार्यालयले कालीगण्डकी क्षेत्रका...
99   पाल्पाको पूर्वखोला गाउँपालिका–२ जल्पाका किसानल...
100  मनसुन कमजोर भई पर्याप्त वर्षा नभएपछि असार सकिए...

[101 rows x 1 columns]

In [51]:
new_df = pd.DataFrame(data,columns=['column 1'])
new_df

                                             column 1
0   ﻿ कसैलाई २०१५ को उल्लेखनीय घटनाबारे सोध्नुहोस्...
1   ﻿मैले सुशीलजीलाई सादगीपूर्ण, झन्डै–झन्डै साधुक...
2   ﻿दुर्गा सुवेदी धेरै पहिलेदेखि गिरिजाप्रसाद कोइ...
3   ﻿ग्लोबल टाइम्स वर्ष २०१५ अन्त्य भएको छ । विश्व...
4   ﻿२०१६ को सुरुवात विश्व अर्थतन्त्रको अप्रिय स्थ...
5   ﻿रेणुका काउचा मगर, बाग्लुङ ३ समानुपातिक मुद्दा...
6   ﻿समावेशी समानुपातिकका विषयमा हाम्रो पार्टी स्प...
7   ﻿समावेशिता र प्रतिनिधित्वका कुरा गर्दा आदिवासी...
8   ﻿जब कथित दक्षिणपन्थी, व्यापारी हितैषी पार्टी स...
9   ﻿देशलाई लोकतन्त्रको बाटोमा हिंडाउने कांग्रेसको...
10  ﻿तीन पटक प्रधानमन्त्री बनिसकेका देउवा पार्टीका...
11  ﻿विमल कोइराला, पूर्व मुख्यसचिव एनसेलको कर छली ...
12  ﻿ पदाधिकारी चयनमा नवनिर्वाचित कांग्रेस सभापति ...
13  ﻿सतीदेवी थापा, बुडब्रिज, भर्जिनिया (अमेरिका) अ...
14  ﻿पर्याप्त शंकाको लाभ पाएका प्रधानमन्त्री केपी ...
15  ﻿महाभूकम्पकाे एक वर्षमा पनि हामीले पुनःनिर्माण...
16  ﻿१. नेपाली कांग्रेसभित्र सरकार परिवर्तनको विषय...
17  ﻿कसैलाई गाली गर्नु पर्यो भने हामी नेपालीहरू भन...
18  ﻿संसदमा अाइतबार सम्माननीय राष्ट्रपति विद्यादेव...
19  ﻿ तीनपाथी मकैको भारीजत्रो ब्याग भिरेर विद्यार्...
20  ﻿अर्पणराज खरेल राजनीति र कूटनीतिलाई समयअनुसार ...
21  ﻿थेडा स्कोकपोल मे महिनाको अन्त्यतिर अमेरिकी रा...
22  ﻿अहिले नेपालको राष्ट्रिय राजनीतिमा नेकपा एमाले...
23  ﻿धनराज गुरुङ (सांसद, नेपाली कांग्रेस) व्यवस्था...
24  ﻿फ्रान्सेली सम्राट नेपोलियन बोनापार्ट आफ्नो से...
25  ﻿जेफ किङ्स्टन म्यानमारको सैन्य जुन्ताले ०१५ को...
26  ﻿चर्को घाम, तातो बतास, सिनित्तै सफा-सडक ! मोटर...
27  ﻿क्लेयर सोर्ट अन्तत: चिल्कोट बोलेका छन् । भाषा...
28  ﻿गलिप डाले टर्की १९६०, १९७१–१९७३, १९८० र १९९७ ...
29  ﻿हालै मात्र मैले पेकिङ विश्वविद्यालयका विद्यार...
30  ﻿ विश्वको राजनीति तथा अन्तर्राष्ट्रिय सम्बन्धम...
31  ﻿सन्तोष भुसाल वि सं.०१५ सालमा नयाँ संविधान जार...
32  ﻿[  " 8714"  "   "300"] चन्दन रौनियार[/  चन्दन...
33  ﻿ भारतीय प्रधानमन्त्री नरेन्द्र मोदीले लाहोरमा...
34  ﻿महेश चौरसिया ऐतिहासिक जनआन्दोलन पश्चात् गत १२...
35  ﻿परालको टौवामुनि नाम्लोको पिङ हालेर मच्चिनुको ...
36  ﻿ इरान र साउदी अरबबीच कूटनीतिक सम्बन्धको उल्लं...
37  ﻿जयकृष्ण गोइत इतिहास साक्षी छ कि ०८ दिसम्वर, १...
38  ﻿कुनै समय सरकारले सहकारीलाई तीनखम्बे अर्थनीतिक...
39  ﻿ हालै पेरिसमा सम्पन्न जलवायु सम्मेलनमा अमेरिक...
40  ﻿शम्भु कुमार साह अहिले मधेश आन्दोलनमय भएको छ ।...
41  ﻿विश्व असमानताको उल्टो गन्तीमा स्वागत छ । २०१०...
42  ﻿ कपटक फ्रान्सको मार्सेल्स सहरमा प्लेग रोग फैल...
43  ﻿ २०१५ मा भएको चीनको आर्थिक सुस्तताले यो क्षेत...
44  ﻿सौगात पोखरेल, पोखरा सम्माननीय प्रधानमन्त्रीज्...
45  ﻿‘यी केटाकेटी (प्रदर्शनकारी) २४ घन्टाभित्र समा...
46  ﻿ग्लोबल टाइम्स सन् ०१६ को सुरुवातसँगै पश्चिमा ...
47  ﻿सर्लाहीको नवलपुरस्थित एक विद्यालयका विद्यार्थ...
48  ﻿कहिले यार्सा टिप्न पाटन पुग्यो कहिले पेट भर्न...
49  ﻿सूर्या शर्मा मधेशमा करिब ५६ वटा जातजातिहरू बस...

In [52]:
complete_dataframe = pd.concat([complete_dataframe,new_df],ignore_index = True)
complete_dataframe

                                              column 1
0    ﻿ नविन अर्याल ९ मंसिर, काठमाडौं । विद्युतीय सव...
1    ﻿२२ पुस, काठमाडौं । यातायात व्यवस्था विभागले न...
2    काभ्रेपलाञ्चोकमा कृषकले एसआरआई प्रविधिमा गरेको...
3    राजधानीमा यतिबेला तरकारीको मूल्य आकासिएको छ। क...
4    ﻿ भारतीय अटो कम्पनी महिन्द्रा एण्ड महिन्द्राले...
..                                                 ...
495  ﻿‘यी केटाकेटी (प्रदर्शनकारी) २४ घन्टाभित्र समा...
496  ﻿ग्लोबल टाइम्स सन् ०१६ को सुरुवातसँगै पश्चिमा ...
497  ﻿सर्लाहीको नवलपुरस्थित एक विद्यालयका विद्यार्थ...
498  ﻿कहिले यार्सा टिप्न पाटन पुग्यो कहिले पेट भर्न...
499  ﻿सूर्या शर्मा मधेशमा करिब ५६ वटा जातजातिहरू बस...

[500 rows x 1 columns]

In [53]:
complete_dataframe['column 2'] = complete_dataframe['column 1']
complete_dataframe

,column 1,column 2
0,"﻿ नविन अर्याल ९ मंसिर, काठमाडौं । विद्युतीय सव...","﻿ नविन अर्याल ९ मंसिर, काठमाडौं । विद्युतीय सव..."
1,"﻿२२ पुस, काठमाडौं । यातायात व्यवस्था विभागले न...","﻿२२ पुस, काठमाडौं । यातायात व्यवस्था विभागले न..."
2,काभ्रेपलाञ्चोकमा कृषकले एसआरआई प्रविधिमा गरेको...,काभ्रेपलाञ्चोकमा कृषकले एसआरआई प्रविधिमा गरेको...
3,राजधानीमा यतिबेला तरकारीको मूल्य आकासिएको छ। क...,राजधानीमा यतिबेला तरकारीको मूल्य आकासिएको छ। क...
4,﻿ भारतीय अटो कम्पनी महिन्द्रा एण्ड महिन्द्राले...,﻿ भारतीय अटो कम्पनी महिन्द्रा एण्ड महिन्द्राले...
...,...,...
495,﻿‘यी केटाकेटी (प्रदर्शनकारी) २४ घन्टाभित्र समा...,﻿‘यी केटाकेटी (प्रदर्शनकारी) २४ घन्टाभित्र समा...
496,﻿ग्लोबल टाइम्स सन् ०१६ को सुरुवातसँगै पश्चिमा ...,﻿ग्लोबल टाइम्स सन् ०१६ को सुरुवातसँगै पश्चिमा ...
497,﻿सर्लाहीको नवलपुरस्थित एक विद्यालयका विद्यार्थ...,﻿सर्लाहीको नवलपुरस्थित एक विद्यालयका विद्यार्थ...
498,﻿कहिले यार्सा टिप्न पाटन पुग्यो कहिले पेट भर्न...,﻿कहिले यार्सा टिप्न पाटन पुग्यो कहिले पेट भर्न...
499,﻿सूर्या शर्मा मधेशमा करिब ५६ वटा जातजातिहरू बस...,﻿सूर्या शर्मा मधेशमा करिब ५६ वटा जातजातिहरू बस...

In [55]:
complete_dataframe['label']= 1
complete_dataframe

,column 1,column 2,label
0,"﻿ नविन अर्याल ९ मंसिर, काठमाडौं । विद्युतीय सव...","﻿ नविन अर्याल ९ मंसिर, काठमाडौं । विद्युतीय सव...",1
1,"﻿२२ पुस, काठमाडौं । यातायात व्यवस्था विभागले न...","﻿२२ पुस, काठमाडौं । यातायात व्यवस्था विभागले न...",1
2,काभ्रेपलाञ्चोकमा कृषकले एसआरआई प्रविधिमा गरेको...,काभ्रेपलाञ्चोकमा कृषकले एसआरआई प्रविधिमा गरेको...,1
3,राजधानीमा यतिबेला तरकारीको मूल्य आकासिएको छ। क...,राजधानीमा यतिबेला तरकारीको मूल्य आकासिएको छ। क...,1
4,﻿ भारतीय अटो कम्पनी महिन्द्रा एण्ड महिन्द्राले...,﻿ भारतीय अटो कम्पनी महिन्द्रा एण्ड महिन्द्राले...,1
...,...,...,...
495,﻿‘यी केटाकेटी (प्रदर्शनकारी) २४ घन्टाभित्र समा...,﻿‘यी केटाकेटी (प्रदर्शनकारी) २४ घन्टाभित्र समा...,1
496,﻿ग्लोबल टाइम्स सन् ०१६ को सुरुवातसँगै पश्चिमा ...,﻿ग्लोबल टाइम्स सन् ०१६ को सुरुवातसँगै पश्चिमा ...,1
497,﻿सर्लाहीको नवलपुरस्थित एक विद्यालयका विद्यार्थ...,﻿सर्लाहीको नवलपुरस्थित एक विद्यालयका विद्यार्थ...,1
498,﻿कहिले यार्सा टिप्न पाटन पुग्यो कहिले पेट भर्न...,﻿कहिले यार्सा टिप्न पाटन पुग्यो कहिले पेट भर्न...,1
499,﻿सूर्या शर्मा मधेशमा करिब ५६ वटा जातजातिहरू बस...,﻿सूर्या शर्मा मधेशमा करिब ५६ वटा जातजातिहरू बस...,1

In [57]:
complete_dataframe.to_csv('complete.csv',index = False)