In [66]:
import pandas as pd
import csv
import nltk
import numpy as np

In [67]:
from nltk import ngrams

In [126]:
import string
import nltk
class tokenize:
    def __init__(self):
        pass
    def word_tokenize(self,text):
        self.text = text
        import string
        punctuations = list(string.punctuation)
        # Add the Nepali purnabiram to the list of punctuations
        punctuations.append("।")
        punctuations.append("”")
        punctuations.append("“")
        punctuations.append("’")
        punctuations.append("‘")
        for punctuation in punctuations:
            self.text = self.text.replace(punctuation, ' ')
        self.text = self.text.strip().split()
        return self.text
    
    def __str__(self):
        return "return the tokenized text removing the punctuations"

In [4]:
import snowballstemmer

class stemming:
    def __init__(self):
        self.stemmer = snowballstemmer.NepaliStemmer()

    def word_stemmer(self, tokens):
        if isinstance(tokens, str):
            tokens = tokens.split()
        stemmed_tokens = [self.stemmer.stemWord(token) for token in tokens]
        return stemmed_tokens

    def __str__(self):
        return "stemming is done on Nepali words and returns the list of stemmed words."

In [5]:
class stopwords:
    def __init__(self):
        pass
    
    def stopword_removal(self,tokens):
        self.tokens = tokens
        f = open('stopwords_ne.txt','r',encoding='utf-8')
        stopwords_list = f.read()
        new_tokens = list() #new_tokens hold the list of words after removing stopwords
        for token in self.tokens:
            if token not in stopwords_list:
                new_tokens.append(token)

        return new_tokens

    def __str__(self):
        return "returns the tokens after removing stopwords"

In [73]:
import re

def remove_english_from_nepali(nepali_text):
    # Define regular expression to match English words and characters
    english_pattern = re.compile(r'[a-zA-Z]+')
    
    # Remove English words and characters from the Nepali text
    nepali_text = re.sub(english_pattern, '', nepali_text)
    
    # Return the cleaned Nepali text
    return nepali_text

In [6]:
text="एक व्यक्ति घोडामा बाहिर छ ।"
text2 = "घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फाल्छन् ।"

In [13]:
 def preprocess(text):
    tokenizer = tokenize()
    stemmer=stemming()
    stop_removal=stopwords()
    tokens = tokenizer.word_tokenize(text)
    stemmed_tokens = stemmer.word_stemmer(tokens)
    removed_tokens=stop_removal.stopword_removal(stemmed_tokens)
    return removed_tokens

In [100]:
def n_grams(text,n):
    tokens=list(preprocess(text))
    grams = list(ngrams(tokens, n))
    return grams

In [101]:
def overlap_similarity(text1, text2,n):
    grams1=n_grams(text1,n)
    grams2=n_grams(text2,n)
    # Convert the bigrams lists to sets
    set1 = set(grams1)
    set2 = set(grams2)
    A = set(set1)
    B = set(set2)
    numerator = len(A.intersection(B))
    min_len = min(len(A), len(B))
    if min_len==0:
        jaccard_similarity=0
    else:
        jaccard_similarity = numerator/min_len
    return jaccard_similarity

In [94]:
similarity_score2=overlap_similarity(text1,text2,2)

[('समकालीन', 'इन्टरनेट'), ('इन्टरनेट', 'संस्कृति'), ('संस्कृति', 'व्यक्ति'), ('व्यक्ति', 'संस्था'), ('संस्था', 'बारम्बार'), ('बारम्बार', 'संख्या'), ('संख्या', 'श्रद्धांजलि'), ('श्रद्धांजलि', 'दिन्'), ('दिन्', 'कम्प्युटर'), ('कम्प्युटर', 'वैज्ञानिक'), ('वैज्ञानिक', 'डोनाल्ड'), ('डोनाल्ड', 'नुथ'), ('नुथ', 'कार्यक्रम'), ('कार्यक्रम', 'संस्करण'), ('संस्करण', 'नम्बर'), ('नम्बर', 'हेर्न'), ('हेर्न', 'संस्करण'), ('संस्करण', '३'), ('३', '३'), ('३', '१'), ('१', '३'), ('३', '१४')]
[('समकालीन', 'वेब'), ('वेब', 'संस्कृति'), ('संस्कृति', 'मानिस'), ('मानिस', 'संघ'), ('संघ', 'सकेसम्म'), ('सकेसम्म', 'प्रायः'), ('प्रायः', 'संख्या'), ('संख्या', 'प्रशंसा'), ('प्रशंसा', 'पीसी'), ('पीसी', 'अनुसन्धानकर्ता'), ('अनुसन्धानकर्ता', 'डोनाल्ड'), ('डोनाल्ड', 'नथ'), ('नथ', 'कार्यक्रम'), ('कार्यक्रम', 'दृष्टिकोण'), ('दृष्टिकोण', 'रेन्डिसन'), ('रेन्डिसन', 'मात्रा'), ('मात्रा', 'अनुमति'), ('अनुमति', 'अनुकूलन'), ('अनुकूलन', '३'), ('३', '३'), ('३', '१'), ('१', '३'), ('३', '१४')]

In [95]:
text1="समकालीन इन्टरनेट संस्कृतिमा, व्यक्ति र संस्थाहरूले बारम्बार संख्यालाई श्रद्धांजलि दिन्छन्। उदाहरणका लागि, कम्प्युटर वैज्ञानिक डोनाल्ड नुथले आफ्नो कार्यक्रम  को संस्करण नम्बरहरू हेर्न दिनुभयो। संस्करणहरू ३, ३.१, ३.१४, र यति अगाडि छन्।"
text2="समकालीन वेब संस्कृतिमा, मानिसहरू र संघहरू सकेसम्म प्रायः संख्याको प्रशंसा गर्छन्। उदाहरणका लागि, पीसी अनुसन्धानकर्ता डोनाल्ड नथले आफ्नो कार्यक्रम  दृष्टिकोणको रेन्डिसन मात्रालाई अनुमति दिनुभयो। अनुकूलनहरू ३, ३.१, ३.१४, आदि हुन्।"

In [96]:
print(similarity_score2)

0.18181818181818182

In [19]:
text1="दुई गोरा महिला एक अर्कालाई अँगालो हाल्दै छन्।"
text2="दुई गोरा महिला एक अर्कालाई अँगालो हाल्दै छन्।"

# Longest Common Sequence

In [202]:
def generate_ngrams(seq, n):
    """Generate a list of n-grams from a sequence."""
    return [seq[i:i+n] for i in range(len(seq)-n+1)]

In [203]:
def find_longest_common_sequence(seq1, seq2, max_n):
    """Find the longest common sequence of words between two sequences using n-grams."""
    words1 = seq1.split()
    words2 = seq2.split()
    n = max_n
    while n > 0:
        ngrams1 = generate_ngrams(words1, n)
        ngrams2 = generate_ngrams(words2, n)
        m = [[0] * (len(ngrams2)+1) for _ in range(len(ngrams1)+1)]
        for i in range(1, len(ngrams1)+1):
            for j in range(1, len(ngrams2)+1):
                if ngrams1[i-1] == ngrams2[j-1]:
                    m[i][j] = m[i-1][j-1] + 1
                else:
                    m[i][j] = max(m[i-1][j], m[i][j-1])
        lcs_length = m[-1][-1]
        if lcs_length > 0:
            lcs = []
            i, j = len(ngrams1), len(ngrams2)
            while lcs_length > 0:
                if ngrams1[i-1] == ngrams2[j-1]:
                    lcs.append(ngrams1[i-1])
                    i -= 1
                    j -= 1
                    lcs_length -= 1
                elif m[i-1][j] > m[i][j-1]:
                    i -= 1
                else:
                    j -= 1
            lcs.reverse()
            lcs_words = [lcs[0]]
            for i in range(1, len(lcs)):
                overlap = n - 1
                while overlap >= 0:
                    if lcs[i-1][n-overlap:] == lcs[i][:overlap]:
                        break
                    overlap -= 1
                lcs_words.append(lcs[i][overlap:])
            return lcs_words
        n -= 1
    return []

In [233]:
text1="एक व्यक्ति घोडामा बाहिर छ।"
text2 = "घोडामा सवार एकजना भाँचिएको हवाइजहाजमाथि हाम फाल्छन्।"
words = text1.split()
n = len(words)
print(n)
lcs = find_longest_common_sequence(text1, text2,n)
print(lcs)

5
[['घोडामा']]

# exporting to csv

In [20]:
import pandas as pd
import numpy
df = pd.read_csv('combined.csv')
df.head(10)

,Column 1,Column 2,Column 3
0,अपोलो ११ अन्तरिक्ष उडान थियो जसले चन्द्रमामा प...,अपोलो ११ चन्द्रमामा प्रारम्भिक दुई व्यक्तिहरूल...,NaN
1,अपोलो ११ जुलाई १६ मा १३:३२ यूटीसी मा मेरिट आइल...,अपोलो ११ लाई जुलाई १६ मा १३:३२ यूटीसी मा मेरिट...,NaN
2,"शनि V को तेस्रो चरणबाट चन्द्रमामा पठाएपछि, अन्...","शनि V को तेस्रो चरणबाट चन्द्रमामा पठाइएपछि, अन...",NaN
3,चन्द्रमाको सतहमा आर्मस्ट्रङको पहिलो पाइला विश्...,चन्द्रमाको सतहमा आर्मस्ट्रङको प्रारम्भिक कदमला...,NaN
4,"१९५० को दशकको अन्त र १९६० को प्रारम्भमा, संयुक...",सन् १९५० को दशकको उत्तरार्ध र सन् १९६० को मध्य...,NaN
5,केनेडी विश्वास गर्थे कि यो संयुक्त राज्यको राष...,केनेडीले विश्वास गरे कि यो संयुक्त राज्यको राष...,NaN
6,चन्द्रमामा मानिसलाई अवतरण गर्ने प्रयासको पहिले...,चन्द्रमामा मानिस पुग्ने प्रयासको पहिले नाम थिय...,NaN
7,एपोलोका लागि आवश्यक प्रविधि र प्राविधिकहरू प्र...,एपोलोका लागि आवश्यक आविष्कार र विधिहरू प्रोजेक...,NaN
8,सोभियत संघले अन्तरिक्ष दौडमा अमेरिकासँग प्रतिस...,सोभियत संघले अन्तरिक्ष दौडमा अमेरिकासँग प्रतिस...,NaN
9,अपोलो ९ को लागि ब्याकअप क्रुमा कमाण्डर नील आर्...,अपोलो ९ को सुदृढीकरण टोलीमा कमाण्डर नील आर्मस्...,NaN

In [102]:
import pandas as pd

# Load data from CSV file into a dataframe
df = pd.read_csv('only_nepali.csv')

# Compute similarity scores for each row
gram_similarity = []
text = [] 
for i in range(len(df)):
    text1 = df['Column 1'][i]
    text2 = df['Column 2'][i]
    text1 = remove_english_from_nepali(text1)
    text2 = remove_english_from_nepali(text2)
    similarity_score = overlap_similarity(text1, text2, 2)
    gram_similarity.append(similarity_score) 

#Add similarity scores as a new column to the dataframe
df['gram_similarity'] = gram_similarity


# Write the updated dataframe to a new CSV file
df.to_csv('gram_similarity.csv', index=False)

In [103]:
df.head()

,Column 1,Column 2,Column 3,gram_similarity
0,अपोलो ११ अन्तरिक्ष उडान थियो जसले चन्द्रमामा प...,अपोलो ११ चन्द्रमामा प्रारम्भिक दुई व्यक्तिहरूल...,NaN,0.558442
1,अपोलो ११ जुलाई १६ मा १३:३२ यूटीसी मा मेरिट आइल...,अपोलो ११ लाई जुलाई १६ मा १३:३२ यूटीसी मा मेरिट...,NaN,0.527273
2,"शनि को तेस्रो चरणबाट चन्द्रमामा पठाएपछि, अन्त...","शनि को तेस्रो चरणबाट चन्द्रमामा पठाइएपछि, अन्...",NaN,0.380000
3,चन्द्रमाको सतहमा आर्मस्ट्रङको पहिलो पाइला विश्...,चन्द्रमाको सतहमा आर्मस्ट्रङको प्रारम्भिक कदमला...,NaN,0.410256
4,"१९५० को दशकको अन्त र १९६० को प्रारम्भमा, संयुक...",सन् १९५० को दशकको उत्तरार्ध र सन् १९६० को मध्य...,NaN,0.458716

# remove english letters

In [51]:
nepali_text = "नमस्कार, Hello यो एक sample text अपोलो हो।"
cleaned_text = remove_english_from_nepali(nepali_text)

In [52]:
print(cleaned_text)

नमस्कार,  यो एक   अपोलो हो।

In [53]:
preprocess(cleaned_text)

['नमस्कार', 'अपोलो']

In [55]:
n_grams(cleaned_text,2)

[('नमस्कार', 'अपोलो')]

[('नमस्कार', 'अपोलो')]

# REmovig english words from csv file

In [98]:
import pandas as pd

# Load data from CSV file into a dataframe
df = pd.read_csv('combined.csv')

for i in range(len(df)):
    text1 = df['Column 1'][i]
    text2 = df['Column 2'][i]
    text1 = remove_english_from_nepali(text1)
    text2 = remove_english_from_nepali(text2)
    df.loc[i, 'Column 1'] = text1
    df.loc[i, 'Column 2'] = text2

# Write the updated dataframe to a new CSV file
df.to_csv('only_nepali.csv', index=False)

In [135]:
import pandas as pd

# Load data from CSV file into a dataframe
df = pd.read_csv('test.csv')
# Compute similarity scores for each row
gram_similarity = []
text = [] 
j=0
for i in range(len(df)):
    j=j+1
    print(j)
    text1 = df['Suspicious'][i]
    text2 = df['Original'][i]
    #text1 = remove_english_from_nepali(text1)
    #text2 = remove_english_from_nepali(text2)
    similarity_score = overlap_similarity(text1, text2, 2)
    gram_similarity.append(similarity_score) 
    print(similarity_score)
#Add similarity scores as a new column to the dataframe
df['gram_similarity'] = gram_similarity


# Write the updated dataframe to a new CSV file
df.to_csv('gram_similarity.csv', index=False)

1
0.10526315789473684
2
0.10526315789473684
3
0.043478260869565216
4
0.041666666666666664
5
0.08433734939759036
6
0.05
7
0.0
8
0.0
9
0.06666666666666667
10
0.06666666666666667
11
0.06349206349206349
12
0.04878048780487805
13
0.01639344262295082
14
0.0196078431372549
15
0.018518518518518517
16
0.08823529411764706
17
0.0
18
0.10909090909090909
19
0.02127659574468085
20
0.0
21
0.20588235294117646
22
0.0
23
0.027777777777777776
24
0.0
25
0.22857142857142856
26
0.0
27
0.1724137931034483
28
0.1
29
0.020833333333333332
30
0.03508771929824561

In [122]:
df = pd.read_csv('nonplagsame.csv')

df.head()
len(df)

1197

In [124]:
        import string
        punctuations = list(string.punctuation)

In [125]:
print(punctuations)

['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']